.app-container {
  display: flex;
}

.content {
  width: 100%;
}

.sidebar {
  min-height: 700px;
  width: 180px;
}

.post-card {
  margin: 20px 40px;
  width: 30rem;
}

.post-tags {
  margin: 0 5px;
}
.reactions {
  margin: 15px 0 0 0;
}

.delete-icon {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-50%, -50%);
  border-radius: 9999px;
  background-color: #dc3545;
  color: white;
  padding: 0.25em 0.6em;
  font-size: 0.75rem;
  cursor: pointer;
}

.create-post {
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
}



